<meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
         Twitter Trend Analyzer
    </title>

    <!--START Loader -->
    <style>
        #initial-loader{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;background:#212121;position:fixed;z-index:10000;top:0;left:0;bottom:0;right:0;transition:opacity .2s ease-out}#initial-loader .initial-loader-top{display:flex;align-items:center;justify-content:space-between;width:200px;border-bottom:1px solid #2d2d2d;padding-bottom:5px}#initial-loader .initial-loader-top > *{display:block;flex-shrink:0;flex-grow:0}#initial-loader .initial-loader-bottom{padding-top:10px;color:#5C5C5C;font-family:-apple-system,"Helvetica Neue",Helvetica,"Segoe UI",Arial,sans-serif;font-size:12px}@keyframes spin{100%{transform:rotate(360deg)}}#initial-loader .loader g{transform-origin:50% 50%;animation:spin .5s linear infinite}body.loading {overflow: hidden !important} body.loaded #initial-loader{opacity:0}
    </style>
    <!--END Loader-->

    <!-- SCSS Output -->
    <!-- build:css /stylesheets/app.min.css -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/plugins.css">
    <!-- endbuild -->

    <!-- START Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#f85d4c">

    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <meta name="theme-color" content="#ffffff">
    <!-- END Favicon -->

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="atom.xml">

<!--    <style>
    .navigation .sidebar {
  background: background: rgba(39,40,46,1);
background: -moz-linear-gradient(top, rgba(39,40,46,1) 0%, rgba(58,65,80,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,40,46,1)), color-stop(100%, rgba(58,65,80,1)));
background: -webkit-linear-gradient(top, rgba(39,40,46,1) 0%, rgba(58,65,80,1) 100%);
background: -o-linear-gradient(top, rgba(39,40,46,1) 0%, rgba(58,65,80,1) 100%);
background: -ms-linear-gradient(top, rgba(39,40,46,1) 0%, rgba(58,65,80,1) 100%);
background: linear-gradient(to bottom, rgba(39,40,46,1) 0%, rgba(58,65,80,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27282e', endColorstr='#3a4150', GradientType=0 );
  direction: ltr;
}
    </style>-->
    <!-- jekyll settings -->
    <script>
        var ASSET_PATH_BASE = '';
    </script>
